In [5]:
import numpy
from numpy import *
import csv
import pandas as pd

In [25]:
data_dir = os.path.abspath("data")

path = os.path.join(data_dir,"Fluxes_Data.csv")
df = pd.read_csv(path) 
df

   External Metabolite         rate        rate_1
0              albumin   1.56 ± 2.5     1.33±7.37
1              glucose   32.64±4.54   55.79±7.12*
2              lactate          0±0   23.60±4.87*
3                 urea   51.76±2.07   60.24±2.85*
4                  NH3    1.27±4.55  -24.16±1.73*
5                  ASP    0.53±0.28     0.76±0.28
6                  GLU    6.51±0.41   10.18±0.78*
7                  SER   -4.05±0.85    -3.50±1.02
8                  ASN    0.02±0.15    -0.08±0.01
9                  GLY   -3.01±0.53    -4.02±0.91
10                 GLN  -36.57±5.40   -30.62±2.42
11                 HIS   -1.87±0.55    -0.77±0.32
12                 THR   -3.89±0.94    -2.77±1.33
13                 ARG   -9.97±1.87   -3.27±0.52*
14                 ALA    1.08±0.28     1.17±0.59
15                 PRO    0.98±0.64     0.84±0.30
16                 TYR    1.15±0.42    -0.27±0.70
17                 CYS    0.26±0.19    0.076±0.15
18                 VAL    1.11±1.20     0.80±1.49
19                 MET   -0.64±0.33    -1.01±0.36
20                 ILE    0.52±1.09     0.21±1.23
21                 ORN    4.58±0.50    1.24±0.35*
22                 LEU    1.35±1.09     0.58±1.28
23                 LYS   -3.03±1.17    -2.26±1.47
24                 PHE   -2.75±0.38    -3.87±0.58
25        acetoacetate   11.88±1.43    6.35±0.28*
26   β-hydroxybutyrate   15.12±1.24    16.75±1.35

In [26]:
df.loc[1,"rate"]

'32.64±4.54'

In [27]:
list_1 = []
for r in df.index:
    number_ = df.loc[r,"rate"].split("±")
    # print(number_)
    df.loc[r,"rate"] = number_[0]
    add_on = number_[1]
    list_1.append(add_on)
df["SD_1"]= list_1
df

   External Metabolite    rate        rate_1  SD_1
0              albumin   1.56      1.33±7.37   2.5
1              glucose   32.64   55.79±7.12*  4.54
2              lactate       0   23.60±4.87*     0
3                 urea   51.76   60.24±2.85*  2.07
4                  NH3    1.27  -24.16±1.73*  4.55
5                  ASP    0.53     0.76±0.28  0.28
6                  GLU    6.51   10.18±0.78*  0.41
7                  SER   -4.05    -3.50±1.02  0.85
8                  ASN    0.02    -0.08±0.01  0.15
9                  GLY   -3.01    -4.02±0.91  0.53
10                 GLN  -36.57   -30.62±2.42  5.40
11                 HIS   -1.87    -0.77±0.32  0.55
12                 THR   -3.89    -2.77±1.33  0.94
13                 ARG   -9.97   -3.27±0.52*  1.87
14                 ALA    1.08     1.17±0.59  0.28
15                 PRO    0.98     0.84±0.30  0.64
16                 TYR    1.15    -0.27±0.70  0.42
17                 CYS    0.26    0.076±0.15  0.19
18                 VAL    1.11     0.80±1.49  1.20
19                 MET   -0.64    -1.01±0.36  0.33
20                 ILE    0.52     0.21±1.23  1.09
21                 ORN    4.58    1.24±0.35*  0.50
22                 LEU    1.35     0.58±1.28  1.09
23                 LYS   -3.03    -2.26±1.47  1.17
24                 PHE   -2.75    -3.87±0.58  0.38
25        acetoacetate   11.88    6.35±0.28*  1.43
26   β-hydroxybutyrate   15.12    16.75±1.35  1.24

In [28]:
list_1 = []
for r in df.index:
    number_ = df.loc[r,"rate_1"].split("±")
    # print(number_)
    df.loc[r,"rate_1"] = number_[0]
    add_on = number_[1]
    list_1.append(add_on)
df["SD_2"]= list_1
df

   External Metabolite    rate  rate_1  SD_1   SD_2
0              albumin   1.56     1.33   2.5   7.37
1              glucose   32.64   55.79  4.54  7.12*
2              lactate       0   23.60     0  4.87*
3                 urea   51.76   60.24  2.07  2.85*
4                  NH3    1.27  -24.16  4.55  1.73*
5                  ASP    0.53    0.76  0.28   0.28
6                  GLU    6.51   10.18  0.41  0.78*
7                  SER   -4.05   -3.50  0.85   1.02
8                  ASN    0.02   -0.08  0.15   0.01
9                  GLY   -3.01   -4.02  0.53   0.91
10                 GLN  -36.57  -30.62  5.40   2.42
11                 HIS   -1.87   -0.77  0.55   0.32
12                 THR   -3.89   -2.77  0.94   1.33
13                 ARG   -9.97   -3.27  1.87  0.52*
14                 ALA    1.08    1.17  0.28   0.59
15                 PRO    0.98    0.84  0.64   0.30
16                 TYR    1.15   -0.27  0.42   0.70
17                 CYS    0.26   0.076  0.19   0.15
18                 VAL    1.11    0.80  1.20   1.49
19                 MET   -0.64   -1.01  0.33   0.36
20                 ILE    0.52    0.21  1.09   1.23
21                 ORN    4.58    1.24  0.50  0.35*
22                 LEU    1.35    0.58  1.09   1.28
23                 LYS   -3.03   -2.26  1.17   1.47
24                 PHE   -2.75   -3.87  0.38   0.58
25        acetoacetate   11.88    6.35  1.43  0.28*
26   β-hydroxybutyrate   15.12   16.75  1.24   1.35

In [29]:
df.to_csv(path)